.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  justify-content: center;
}

.photo-card {
  /* position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform 5000ms linear; */
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* transition: transform var(--animation-duration) var(--timing-function); */
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

body {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  background-color: blue;
}

p {
  padding: 0;
  margin: 0;
}

.info {
  display: flex;
  text-align: center;
}

.load-more {
  display: none;
}

.show-button {
  display: block;
}
